body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 40px;
  color: #222;
}

h1 {
  color: #2563eb;
  font-size: 42px;
  text-align: center;
}

h2 {
  color: #111827;
  margin-top: 32px;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

ul {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

button {
  background: #e92b12;
  color: rgb(218, 218, 218);
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}